<%= form_for reply, html: {remote: true, class: "col-12" } do |f| %>
  <div class="form-group row">
    <div class="col-5">
      <%= f.text_field :content, class: "form-control" %>          
    </div>
    <div class="col-1">
      <%= f.submit "留言", class: "btn btn-light" %>
    </div>
  </div>
<% end %>