<li id= "reply_<%= reply.id %>">
  <%= reply.content %>
  <%= reply.inspect %>
  <% if reply.user_id == current_user.try(:id) %>
    <%= link_to "刪除", post_reply_path(id:reply.id, post_id: reply.post_id ), method: :delete, remote: true %>
  <% end %>
</li>