// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts{
  margin-top: 40px;

  .banner{
    height: 300px;
    background: #f8f8f8;
  }

  .body{
    width: 1024px;
    margin: 30px auto;

    .post{
      margin-bottom: 12px;

      .post_right{
        position: relative;

        .post_right_bot{
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}

#post-new{
  margin-top:40px;

  .body{
    width: 1024px;
    margin:0 auto;
  }
}