// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts{
  margin-top: 40px;

  .banner{
    height: 400px;
    background-image:asset-url("banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .body{
    width: 1024px;
    margin: 30px auto;

    .post{
      margin-bottom: 12px;

      .post_right{
        position: relative;

        .post_right_content{
          a {
            display: block;
            text-align: right;
          }
        }

        .post_right_bot{
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}

#post-new{
  margin-top:40px;

  .body{
    width: 1024px;
    margin:0 auto;
  }
}

#post_show{
  margin-top: 60px;

  > div{
    width: 1024px;
    margin: 30px auto;

    h3{

      a{
        color: #c5c5c5;
        font-size: 0.7em;

        &:hover{
          text-decoration: none;
        }
      }
      span{
        color: #c5c5c5;
        font-size: 0.5em;
      }
    }

    .show_bot{

      #all_replies{
        list-style: none;

        li{
          margin-bottom: 10px;

          a{
            font-size: 0.7em;
            color: #c5c5c5;

            &:hover{
              text-decoration: none;
            }
          }

          form{
            width: 80%;
          }
        }
      }
    }
  }
}

#feed{
  margin-top: 40px;

  .content{

    .inform{
      font-size: 1.3em;

      div{
        margin-top: 15px;
      }
    }

    .hot_post, .hot_user {
      margin-top: 20px;

      h3{
        margin-bottom: 20px;
      }
    }

    .hot_user{
      .user_list{
        img{
          display: block;
          width:150px;
          height: 150px;
          background-size: contain;
        }
      }
    }
  }
}